body {
    width: 100%;
    height: 100%;
    

	}

html {
    width: 100%;
    height: 100%;
}


p {
    font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
    font-family: 'Open Sans', Arial, sans-serif;

}


.dark-text {
	font-size: 18px;
	color: black;
}

.light-text {
	font-size: 18px;
	color: white;
}

.dark-header {
	color: black;
}

.light-header {
	color: white;
}

.intro-section {
	position: relative;
    background: url("../img/2.jpg") no-repeat center center;
    width: 100%;
    padding-bottom: 20px;
	height: auto;
    background-size: cover;
 	background-attachment: fixed;
    padding-top: 150px;
    text-align: center;
}

.intro-section p {
     line-height: 35px;

}

.projects-section {

	position: relative;
	background: white;
	color: black;
	width: 100%;
	padding-bottom: 50px;
	min-height: 15px;
	margin-top: 0px;
    padding-top: 100px;
    text-align: center;
}

.projects-section p {
         line-height: 35px;
 
}

.team-section {
    height: auto;
    padding-top: 100px;
    padding-bottom:100px;
    padding-left: 30px;
    padding-right:30px;
    text-align: center;
    background: #F6534A;
}

.team-section p {
    color: #ffffff;
    line-height: 35px;

}

.contact-section {
    height: auto;
    padding-top: 100px;
    padding-bottom:100px;
    padding-left: 30px;
    padding-right:30px;
    text-align: center;
    background: #eee;

}

.contact-section p {
       line-height: 50px;

}

.footer-section {
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: #2B2B2B;
    color: #000000;
    padding-left: 30px;
    padding-right:30px;

}


/*Footer*/

ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;

}
ul.social-network li {
    display: inline;
    margin: 0 5px;
}

/* footer social icons */
.social-network a.icoRss:hover {
    background-color: #F56505;
}
.social-network a.icoFacebook:hover {
    background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
    background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
    background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
    background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
    background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
}

.social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
}
.social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}
.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;

}

.social-circle a {
 background-color: #D3D3D3;   
}

/*More footer stuff*/
.footer-section {
    height: auto;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}
.footer-bottom p {
    margin: 0;
    color: #7F8C8D;
    padding-top: 100px;
}

.footer-section h1, h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 0 10px;
    text-transform: uppercase;
    
}
.footer-section ul {
    font-size: 13px;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
    margin-top: 15px;
    color: #7F8C8D;
}


