
@media screen and (min-width: 768px){

	.navbar {
		background-color: #2B2B2B;
		color: #FFFFFF;
		-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-o-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-ms-transition: background .5s ease-in-out,padding .5s ease-in-out;
		transition: background .5s ease-in-out,padding .5s ease-in-out;
		padding-top: 40px;
	
		border-bottom: 0px;
	}
	
	.navbar-nav {
		font-size: 14px;
		text-transform: uppercase;
	}

	.top-nav-collapse {
		padding: 0;
	}
	.navbar .navbar-nav > li > a  {
	  color: white;
	  padding-left: 15px;
	  margin-top: 10px;
	  
	}

	.navbar .navbar-nav >li>a:hover,
	.navbar .navbar-nav >li>a:focus {
		background-color: transparent;
		color: #F6534A !important;
		text-decoration: none !important;
	}

	#brand-image {
	  margin-top: -10px;
	  padding-top: -20px;
	  max-height: 140px;
	  width: auto;

	}
	
	.slogan-bar {
		background: #2B2B2B;
		padding-top: 130px; 
		color: white;	
		text-align: right;
		padding-bottom: 30px;
		padding-right: 10px;
		font-size: 22px;
		text-decoration: italic;
		
		-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-o-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-ms-transition: background .5s ease-in-out,padding .5s ease-in-out;
		transition: background .5s ease-in-out,padding .5s ease-in-out;

	}
	
	.slogan-bar.top-nav-collapse {
		background: #2c2c2c;
		
		-webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-o-transition: background .5s ease-in-out,padding .5s ease-in-out;
		-ms-transition: background .5s ease-in-out,padding .5s ease-in-out;
		transition: background .5s ease-in-out,padding .5s ease-in-out;
	}
	
	.slogan-text {
		font-size: 24px;
		font-style: italic;
	}
	
	.navbar-btn  {
		margin-left: 18px;
		border-color: white;
		color: white;
		background: transparent;
		border-radius: 2px;
		border-width: 2px;
		font-size: 18px;
		text-transform: uppercase;
		margin-top: 10px;
	}
	
	.navbar-btn:hover,
	.navbar-btn:focus {
		border-color: white;
		background: white;
		color: #F6534A;
	
	}
	
	.navbar.top-nav-collapse .navbar-nav >li>button:hover,	
	.navbar.top-nav-collapse .navbar-nav >li>button:focus {
		background-color: white;
		color: #F6534A !important;
	}

	.navbar.top-nav-collapse {
		background: rgb(44, 44, 44); //IE
		background: rgba(0, 0, 0, 0.78); //NON-IE
	}

	.navbar.top-nav-collapse .navbar-nav > li > a  {
	  color: #d3d3d3;
	  padding-left: 15px;
	}

	.navbar.top-nav-collapse .navbar-nav >li>a:hover,	
	.navbar.top-nav-collapse .navbar-nav >li>a:focus {
		background-color: transparent;
		color: #F6534A !important;
	}

	.navbar.top-nav-collapse .navbar-nav  >.active >a {
		background-color: transparent;
		color: white !important;
	}
	.navbar.top-nav-collapse #brand-image {
			height: 40px;
			width: auto;
	  margin-top: 5px;

	}
	
	
}

@media screen and (max-width: 767px){
	#wrapwrap {
	padding-top: 50px;
	}

	.navbar-fixed-top {
		z-index: 999;
		background: #2B2B2B;
		border-bottom: 0px;
	}
	
	#brand-image {
		height: 40px;
		width: auto;
		margin-top: -10px;

	}
	
	.slogan-bar {
		background: #2B2B2B;
		padding-top: 50px; 
		color: white;	
		text-align: center;
		padding-bottom: 0px;
	}
	
	.slogan-text {
		font-size: 18px;
		font-style: italic;
	}
	

	
.navbar .navbar-nav > li > a  {
	 color: white;
	background-color: transparent;
	text-align: center;

	  text-decoration: none !important;
	  padding-left: 15px;
	}

	.navbar .navbar-nav >li>a:hover,
	.navbar .navbar-nav >li>a:focus {
		background-color: transparent !important;
		color: #F6534A !important;
		text-decoration: none !important;
	}
	
	.navbar .navbar-nav  >.active >a {
		background-color: transparent;
		color: white !important;
	}
	
	.navbar-toggle {
		border-color: white;
		background-color: transparent !important;
	}
	
	.icon-bar {
		background-color: white !important;

	}
	
	.navbar-btn  {
		position: relative;
		margin-left: 35%;
		margin-right: 35%;
		
		border-color: white;
		color: white;
		background: transparent;
		border-radius: 1px;
		border-width: 1px;
		text-transform: uppercase;
		
	}
	
	.navbar-btn:hover,
	.navbar-btn:focus {
		border-color: white;
		background: white;
		color: #F6534A;
	
	}
}